@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

html, body, div, span, applet,
object, iframe,   h5, h6,
 blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav,
output, ruby, section, summary,
time, mark, audio, video                { margin: 0;
                                          padding: 0;
                                          border: 0;
                                          vertical-align: baseline;
                                        }
article, aside, details, figcaption,
figure, footer, header, hgroup,
menu, nav, section                      { display: block }
ol,
ul                                      { list-style: none }
blockquote,
q                                       { quotes: none }
blockquote:before,
blockquote:after,
q:before,
q:after                                 { content: '';
                                          content: none;
                                        }
table                                   { border-collapse: collapse;
                                          border-spacing: 0;
                                        }
input                                   { border: 0;
                                          border: none;
                                        }
										
										
										
										
										
										
										
										
										
.align-left                             { 
                                          text-align: left  !important;
                                        }
.align-right                            { 
                                          text-align: right !important;
                                        }
.float-left                             { float: left  !important;
                                        }
.float-right                            { float: right !important;
                                        }
.centered                               { text-align: center !important;
                                        }
.block                                  { display: block !important }
.padding-right0                         { padding-right: 0    !important }
.padding-right10                        { padding-right: 10px !important }
.padding-right20                        { padding-right: 20px !important }
.padding-right30                        { padding-right: 30px !important }
.padding-right40                        { padding-right: 40px !important }
.padding-right50                        { padding-right: 50px !important }
.padding-left0                          { padding-left: 0    !important }
.padding-left10                         { padding-left: 10px !important }
.padding-left20                         { padding-left: 20px !important }
.padding-left30                         { padding-left: 30px !important }
.padding-left40                         { padding-left: 40px !important }
.padding-left50                         { padding-left: 50px !important }
.padding-top0                           { padding-top: 0    !important }
.padding-top10                          { padding-top: 10px !important }
.padding-top20                          { padding-top: 20px !important }
.padding-top30                          { padding-top: 30px !important }
.padding-top40                          { padding-top: 40px !important }
.padding-top50                          { padding-top: 50px !important }
.padding-top150                         { padding-top: 150px !important }
.padding-bottom0                        { padding-bottom: 0    !important }
.padding-bottom10                       { padding-bottom: 10px !important }
.padding-bottom20                       { padding-bottom: 20px !important }
.padding-bottom30                       { padding-bottom: 30px !important }
.padding-bottom40                       { padding-bottom: 40px !important }
.padding-bottom50                       { padding-bottom: 50px !important }
.margin-right0                          { margin-right: 0    !important }
.margin-right5                          { margin-right: 5px !important }
.margin-right10                         { margin-right: 10px !important }
.margin-right20                         { margin-right: 20px !important }
.margin-right30                         { margin-right: 30px !important }
.margin-right40                         { margin-right: 40px !important }
.margin-right50                         { margin-right: 50px !important }
.margin-left0                           { margin-left: 0    !important }
.margin-left10                          { margin-left: 10px !important }
.margin-left20                          { margin-left: 20px !important }
.margin-left30                          { margin-left: 30px !important }
.margin-left40                          { margin-left: 40px !important }
.margin-left50                          { margin-left: 50px !important }
.margin-left96                          { margin-left: 90px !important }
.margin-left105                         { margin-left: 105px !important }
.margin-top0                            { margin-top: 0    !important }
.margin-top5                            { margin-top: 5px    !important }
.margin-top10                           { margin-top: 10px !important }
.margin-top20                           { margin-top: 20px !important }
.margin-top30                           { margin-top: 30px !important }
.margin-top40                           { margin-top: 40px !important }
.margin-top50                           { margin-top: 50px !important }
.margin-top60                           { margin-top: 60px !important }
.margin-top70                           { margin-top: 70px !important }
.margin-top80                           { margin-top: 80px !important }
.margin-top150                          { margin-top: 150px !important }
.margin-bottom0                         { margin-bottom: 0    !important }
.margin-bottom10                        { margin-bottom: 10px !important }
.margin-bottom20                        { margin-bottom: 20px !important }
.margin-bottom30                        { margin-bottom: 30px !important }
.margin-bottom40                        { margin-bottom: 40px !important }
.margin-bottom50                        { margin-bottom: 50px !important }
.margin-bottom60                        { margin-bottom: 60px !important }
.margin-bottom70                        { margin-bottom: 70px !important }
.margin-bottom80                        { margin-bottom: 80px !important }
.margin-bottom150                       { margin-bottom: 150px !important }	



/* Positions */				

.posrel { position:relative}
.posabs { position:absolute}			
.mar0auto { margin:0 auto}

/* fonts */
.font12 { font-size:12px}
.font13 { font-size:13px}
.font14 { font-size:14px}
.font16 { font-size:16px}		
.font18 { font-size:18px}	
.font20 { font-size:20px}	
.font22 { font-size:22px}	
.font24 { font-size:24px}	
.font26 { font-size:26px}	
.font28 { font-size:28px}	
.font30 { font-size:30px; line-height:38px}	
.font32 { font-size:32px}	
.font34 { font-size:34px}	
.font36 { font-size:36px}	
.font38 { font-size:38px}	
.font50 { font-size:50px}
.uppercase { text-transform:uppercase}										